body{
	color:#666;
	font-family:'Ubuntu', Arial, Helvetica, sans-serif; 
	font-size:1em;
	line-height:1.4em; 
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family:'Droid Serif', Arial, Helvetica, sans-serif; 
	line-height:1.5em;
	margin:.45em 0;
	padding:0;
} 

header{ 
	padding:15px 0;
}

#hero,
#page-header{
	background:#f3f3f3;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding:20px 0;
}

#banner{ 
	text-align:center;
}
	

#hero h1{ 
	line-height:1.2em;
	margin-top:0px;
	margin-bottom:10px;}
a,
a:visited,
a:active,
a:hover{color:#08568a;}
a:hover{ text-decoration:none;}



*{	box-sizing:border-box;
	-moz-box-sizing:border-box;}

 
.wrapper{
	width: 92%; 
	margin: 0 auto;
}


.flexslider{
	display:none;
}

#content {  
	margin:40px 0;
}

aside { 
	margin:40px 0;
}

p{ margin:0 0 1.5em;}

img{ max-width:100%; height:auto;}

.main-nav{
	display:block;
	padding:10px;
	margin:20px 0 0;
	background:#666;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	font-size:20px;
}
.main-nav.toggled-on{
	background:#0099ff;
}
.main-bar{
	display:none;
}	
.main-bar.toggled-on{
	display:block;
	position:relative;
	z-index:10;
}

.main-bar{
	clear:both;
	margin-bottom:60px;
	
}
.main-bar li a {
	background:#dadada;
	display:block;
	margin:1px 0; 
	padding:10px;
	text-decoration:none;
}
.main-bar li a:hover{
	background:#0966a5;
	color:#fff;
}
.main-bar li li a {
	background:#e8e8e8;
	padding-left:40px;
}
.main-bar li li li a {
	background:#efefef;
	padding-left:80px;
}

#secondary-navigation{
	margin-bottom:60px;
}
#secondary-navigation ul{
	margin:0;
	padding:0;
}
#secondary-navigation ul li a{ 
	background:#E6E6E6;
	display:block;
	margin:5px 0; 
	padding:10px;
	text-decoration:none;
}
#secondary-navigation ul li a:hover,
#secondary-navigation ul li.current a{
	background:#0099ff;
	color:#fff;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-bottom:20px;
	position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

footer{  
	clear:both;
	font-size:80%;
	padding:20px 0;
}
footer ul{
	margin:0;
	padding:0;
}

body{
	background:#fff;
}
h1, h2, h3, h4, h5, h6{
	color:#333; 
}

footer{ 
	background:#333;
	color:#ccc;
}
footer h1, footer h2, footer h3, footer h4{ 
	color:#CCC; 
	margin-bottom:10px;
}
footer ul{
	margin:0 0 0 8%;
}
li {
    list-style-type: none;
}
ul{
	padding:0;
	margin:0;
}
a.buttonlink{ 
	background:#0365a7; 
	border-radius:7px; 
	color:#fff;
	display:block;
	float:left; 
	margin:10px 15px 10px 0; 
	padding:10px;
	text-decoration:none;
}
a.buttonlink:hover{
	background:green;
}
.greenelement{
	background:#5ec79e;
	color:#fff;
}
.violetelement{
	background:#887dc2;
	color:#fff;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}

@media only screen and (min-width: 481px) {
#banner{
	float:left;
	text-align:left;
	margin-bottom:-20px;
}
.menu-toggle{
	margin-top:10px; 
	float:right;
}

} 

@media only screen and (min-width: 920px) {

.wrapper{
	max-width: 1200px; 
	margin: .75em auto;
}

#banner{ 
	float:left; 
	text-align:left;
	margin-bottom:0px;
}
header{
	padding:0;
}
#content {  
	float:left;
	width:65%;
}
#content.wide-content{
	float:none;
	width:100%;
}

.flexslider{
display:block;
margin: 0 0 60px; 
background: #fff; 
border: 4px solid #fff; 
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
-o-border-radius: 4px; 
border-radius: 4px; 
box-shadow: 0 1px 4px rgba(0,0,0,.2); 
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}


aside { 
	float:right;
	width:30%;
}

.main-nav{display:none;}
#menu-main-navigation{display:block;}

.main-bar, main-bar * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.main-bar ul {
	position:		absolute;
	display:none;
	width:			12em; 
}
.main-bar ul li {
	width:			100%;
}
.main-bar li:hover {
	visibility:		inherit; 
}
.main-bar li {
	float:			left;
	position:		relative;
	margin-left:1px;
}
.main-bar li li {
	margin-left:0px;
}
.main-bar a {
	display:		block;
	position:		relative;
}
.main-bar li:hover ul,
.main-bar li.sfHover ul {
	display:block;
	left:			0;
	top:			45px; 
	z-index:		99;
	-webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
}
ul.main-bar li:hover li ul,
ul.main-bar li.sfHover li ul {
	top:			-999em;
}
ul.main-bar li li:hover ul,
ul.main-bar li li.sfHover ul {
	left:			12em; 
	top:			0;
}
ul.main-bar li li:hover li ul,
ul.main-bar li li.sfHover li ul {
	top:			-999em;
}
ul.main-bar li li li:hover ul,
ul.main-bar li li li.sfHover ul {
	left:			10em;
	top:			0;
}

#topnav, .main-bar {
	float:right;
	margin: .35em 0 0 0;
}
.main-bar a {
	text-decoration:none;
}
.main-bar li a {
	background:#fff;
	margin:0; 
	padding:10px 20px;
	height:45px;
}
.main-bar a, .main-bar a:visited  { 
	color:			#0099ff;	
}
.main-bar li li a {
		border-top:		1px solid rgba(255,255,255,.2);
		background:		#333;
		background:rgba(0,0,0,.6);
		color:	#fff;
		padding-left:20px;
		height:auto;
}
.main-bar li li a:visited{color:#fff;}
.main-bar li li li a,
.main-bar li.current * li a{
	padding-left:20px;
	background:rgba(0,0,0,.6);
}

.main-bar li:hover > a,
.main-bar li.current a{ 
	color:#fff;
	background:#0099ff;
}
.main-bar li li:hover > a{
	color:#fff;
	background:#0099ff;
}

 .row{
	 margin-left: -15px;
     margin-right: -15px;
}
 
.grid_1 { width: 8.33333333%; }
.grid_2 { width: 16.66666667%; }
.grid_3 { width: 25%; }
.grid_4 { width: 33.33333333%; }
.grid_5 { width: 41.66666667%; }
.grid_6 { width: 50%; }
.grid_7 { width: 58.33333333%; }
.grid_8 { width: 66.66666667%; }
.grid_9 { width: 75%; }
.grid_10 { width: 83.33333333%; }
.grid_11 { width: 91.66666667%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	float: left;
	display: block;
}

.rightfloat{float:right;}
#hero [class*="grid_"] { margin-bottom:-20px;}

}

@media only screen and (min-width: 1030px) {

} 
@media only screen and (min-width: 1240px) {

} 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { 

  
}

* {box-sizing: border-box}
.slides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
